body {
  background: lightgray;
}

.axis-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.axis {
  margin: 0 30px;
  padding: 10px;
}

.spinner {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px #aaa;
}

.spinner::after {  /*central-dot*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

.spinner_segment {
  position: relative;
  z-index: 10;
  width: 150px;
  height: 150px;
  border: 50px solid dodgerblue;
  border-radius: 50%;
  transform: rotate(-90deg);
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition:         all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: dodgerblue;
  transform-origin: center;
}

.spinner_segment::after {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 123px;
  height: 0;
  border: 1px solid black;  
}

.spinner_segment_before,
.spinner_segment_after {
  position: absolute;
  pointer-events: none;
  border: 125px solid white;
  border-color: transparent transparent white white;
  border-radius: 50%;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -50px;
  left: -50px;
  /* this is to have it white from 180 to 360 degrees on the left side */
}

.spinner_segment_before {
  z-index: -10;
  pointer-events: all;
  transform: rotate(45deg);
}


/* the green sector is now 180 minus 45 plus 0 degree */

.spinner_segment_after {
  z-index: 20;
  pointer-events: all;
  transform: rotate(45deg);
}

label {
  font-size: 20px;
}

form span {
  margin: 0 2px;
  display: inline-block;
}

.angle_wrapper {
  line-height: 1.2;
}

.angle_wrapper > * {
  vertical-align: middle;
}

.angle_title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.input-value {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  text-align: left;
  width: 30px;
  font-size: 20px;
}